body {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}



#sliders {
  margin-top: 20px;
}

.slider {
  width: 200px;
  margin-bottom: 10px;
}

#sliderValues {
  margin-top: 20px;
  text-align: center;
}

#okButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 5%;
}

.h1 {
  font-size: 36px;
}

.p {
  font-size: 30px;
  margin: auto;
  padding: 40px;
}

.author {
  font-size: 20px;
  text-align: left; /* Alinhar à esquerda */
}

@media (max-width: 768px) {
  body {
    text-align: center; /* Alinhar o conteúdo ao centro para dispositivos móveis */
  }

  .h1 {
    font-size: 18px; /* Reduzir o tamanho do título para dispositivos móveis */
  }

  .slider {
    width: 100%; /* Ocupar toda a largura da tela para dispositivos móveis */
  }

  #sliderValues {
    margin-top: 10px; /* Diminuir a margem superior para dispositivos móveis */
  }

  #okButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    height: 10%;
  }

  .author {
    font-size: 15px;
    text-align: left; /* Alinhar à esquerda */
  }
}



